body{
	padding-top: 8%;
	padding-bottom: 25%;
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
}

.tic{
	border-radius: 10px;
	margin: 0.5vw;
    max-width: 30%;
	width: 8vw;
	height: 8vw;
	border: 2px solid #4CAF50;
	background-color: papayawhip;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	box-shadow: 0 9px #999;
	outline: none;
    vertical-align: middle;
    font-size: 3.5vw;
}

.tic:hover{
	background-color: #4CAF50;
	color: papayawhip;
	cursor: pointer;
}

.tic:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.tic:disabled {
/*
	background-color: #4CAF50;
	color: papayawhip;
*/
	cursor: not-allowed;
}