{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Tic Tac Toe</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/t-t-t.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<h1>Welcome {{ name }}, Now is {{ date }}</h1>
	<div>
		<div class="row">
			<button class="tic" id="0"></button>
			<button class="tic" id="1"></button>
			<button class="tic" id="2"></button>
		</div>
		<div class="row">
			<button class="tic" id="3"></button>
			<button class="tic" id="4"></button>
			<button class="tic" id="5"></button>
		</div>
		<div class="row">
			<button class="tic" id="6"></button>
			<button class="tic" id="7"></button>
			<button class="tic" id="8"></button>
		</div>
	</div>
	<h2>There is no way you can win :P</h2>
    <script src="{% static 'js/t-t-t.js' %}"></script>
</body>
</html>
