{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'css/ttt.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		
		<form id="form" method="post" action="{% url 'index' %}">
			{% csrf_token %}
			<table>
				<tr>
					<td>Username:</td>
					<td>{{ form.name }}</td>
				</tr>
				<tr>
					<td>Submit:</td>
					<td><input id="submit" type="submit" name="submit"></td>
				</tr>
			</table>
		</form>
		<!--<p id="paragraph"></p>-->
	</body>
</html>
